* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }
  
  .about,
  .projects {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  
  .about {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .projects {
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
  }
  
